body {
  height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    rgb(214, 16, 16),
    rgb(0, 0, 0)
  );
  color: white;
}

#map {
  width: 100%;
  height: 90%;
  background-color: grey;
}

.ProfileWrapper {
  width: 100vw;
  height: 100vh;
  font-family: fantasy;
  .ProfileHeader {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: rgb(0, 0, 0);
    button {
      height: 40%;
      width: 10%;
      border-radius: 5%;
      margin-right: 10px;
      margin-top: 5px;
      font-size: 15px;
    }
    .log {
      width: 5%;
      height: 100%;
      -webkit-transition: -webkit-transform 0.8s ease-in-out;
      transition: transform 0.8s ease-in-out;
    }
    .log:hover {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
    }
  }
  .profileContainer {
    width: 100%;
    height: 32%;
    display: flex;
    justify-content: center;
    ul {
      .userName {
        text-align: center;
        font-size: 25px;
      }
      .PicContainer {
        height: 90%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.726);
        display: flex;
        justify-content: center;
        border-radius: 3.5%;
        .ProfilePic {
          width: 80%;
          height: 100%;
          border-radius: 100%;
        }
      }
    }
  }
  .SuperWrap {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    height: 38%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    .LeftHalf {
      height: 100%;
      width: 30%;
      div {
        background-color: rgba(0, 0, 0, 0.726);
        border-radius: 2.5%;
      }
      .ProfileEdit {
        margin-top: 10px;
        height: 33.3%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        button {
          width: 50%;
          font-size: 20px;
        }
      }
      .characterIntro {
        height: 33.3%;
        width: 100%;
        margin-top: 1%;
        margin-bottom: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h3 {
          font-size: 20px;
          text-align: center;
        }
        select {
          width: 30%;
          text-align: center;
        }
      }
      .show {
        width: 100%;
        height: 33.3%;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
          font-size: 25px;
        }
        button {
          width: 50%;
          font-size: 20px;
        }
      }
      .charContainer {
        width: 100%;
        height: 33.3%;
        overflow: scroll;
        display: flex;
        flex-wrap: wrap;
        input {
          height: 20%;
          margin-left: 10px;
        }
        button {
          width: 20%;
          font-size: 15px;
          margin-left: 10px;
        }
        h2 {
          margin-top: 5px;
          margin-left: 10px;
        }
        .mappedCharacters {
          .div {
            .div {
              .div {
                .charbox {
                  width: 100%;
                  height: 100%;
                  ul {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                  }
                }
              }
            }
          }
        }
      }
    }
    .RightHalf {
      height: 100%;
      width: 60%;
      margin-top: 10px;
      font-size: 20px;
      .SearchBox {
        width: 99%;
        height: 100%;
        overflow: scroll;
        margin-left: 1%;
        border-radius: 2.5%;
        background-color: rgba(0, 0, 0, 0.726);
        input {
          width: 50%;
        }
      }
    }
  }
  .ProfileDungeons {
    width: 100%;
    height: 17%;
    .DungeonList {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      .DungeonContainer {
        background-color: rgba(0, 0, 0, 0.726);
        border-radius: 5%;
        height: 70%;
        width: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    .DungeonButton {
      display: none;
    }
  }
}

@media screen and (max-width: 360px) and (max-height: 640px) {
  .ProfileWrapper {
    .ProfileHeader {
      button {
        width: 25%;
        height: 80%;
      }
      .log {
        width: 55px;
      }
    }
    .profileContainer {
      ul {
        .userName {
          margin-top: 3px;
        }
        .PicContainer {
          height: 80%;
          .ProfilePic {
            width: 60%;
          }
        }
      }
    }
    .SuperWrap {
      .LeftHalf {
        div {
          background-color: rgba(0, 0, 0, 0.726);
          border-radius: 5%;
        }
        .ProfileEdit {
          button {
            height: 80%;
            width: 80%;
            font-size: 15px;
          }
        }
        .characterIntro {
          h3 {
            font-size: 15px;
            text-align: center;
          }
        }
        .show {
          h2 {
            font-size: 15px;
          }
          button {
            font-size: 15px;
            width: 80%;
          }
        }
        .charContainer {
          button {
            width: 80%;
          }
          input {
            width: 100%;
          }
        }
      }
    }
    .ProfileDungeons {
      display: flex;
      justify-content: center;
      align-items: center;
      .DungeonList {
        display: none;
      }
      .DungeonButton {
        display: initial;
        font-size: 15px;
      }
    }
  }
}
